/*    Lancome Privacy Policy CSS    

Author: MobileMINDS Inc

*/

/* FONT FACES */
@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue Light.ttf') format("truetype");
  font-weight: light;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue Medium.ttf') format("truetype");
  font-weight: medium;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Miller Display";
  src: url('../fonts/MillerDisplay-Light.ttf') format("truetype");
  font-weight: light;
  font-style: normal;
}

:root {
  --black: #101010;
  --greyBG: #F7F6F7;
  --pink: #ce0058;
  --lc-gradient-pink: linear-gradient(96deg, #EBCDD4 44.75%, #FEEAE9 70.09%);
  --lc-gradient-silver: linear-gradient(90deg, #DAD2D0 0.04%, #BAB6B6 30.41%, #EBE9E9 64.51%, #CCC9CA 102.34%);
  --color-text: #0B0B0B;
  --button-font-color: #000000;
  --border-color-form: #999999;
  --content-width: 1080px;
  --card-radius: 20px;
  --text-body: 'Helvetica Neue', sans-serif;
  --text-heading: 'Miller Display', serif;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: var(--text-body);
  color: var(--color-text);
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  font-family: var(--text-heading);
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-weight: 100;
}

a {
  color: var(--color-text);
}

.lc-font-sanserif,
.lc-font-sanserif * {
  font-family: var(--text-body);
}

.lc-font-serif,
.lc-font-serif * {
  font-family: var(--text-heading);
}

body {

  font-family: "Helvetica Neue", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  background: var(--lc-gradient-pink);
}

.font-serif {
  font-family: "Miller Display";
}

header.navbar {
  background-color: var(--black);
  padding: 2rem 1rem;
}

footer {
  background-color: white;
  padding: 1rem 1rem;
}

footer p {
  margin-bottom: 0;
  display: inline-flex;
}

/* Button & Tabs */
button.btn {
  border-radius: 6px;
  padding: 20px 36px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: all 0.5s;
}

button.btn.lc-btn-white,
.nav button.lc-tab-white {
  font-weight: 800;
  border: 1px solid #181818;
  background: #FDFAFA;
  color: var(--color-text);
}

button.btn.lc-btn-white:hover,
.nav button.lc-tab-white:hover,
.nav button.lc-tab-white.active {
  background-color: #000;
  color: #fff;
}

.nav button.lc-tab-white {
  height: 100%;
}

button.btn.lc-btn-black {
  font-weight: 200;
  border: none;
  background: #000;
  color: #fff;
}

button.btn.lc-btn-black:hover,
a.ln-social-link:hover {
  background: var(--pink);
}

a:hover {
  color: var(--pink);
}

/* Checkbox */
input[type=checkbox].form-check-input {
  border-color: #D0D0D0;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  margin-bottom: 6px;
}

input[type=checkbox].form-check-input:checked {
  background-color: #000;
}

input[type=checkbox].form-check-input:focus {
  box-shadow: none;
}

/* Form Control */
label.form-label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 10px;
}

input.lc-form-input {
  border: none;
  background: none;
  border-bottom: 1px solid var(--border-color-form);
  border-radius: 0;
  padding: 10px 0;
}

input.lc-form-input::placeholder,
select {
  text-transform: uppercase;
}

input.lc-form-input:focus,
select.form-select:focus {
  box-shadow: none;
  border-color: #000;
  border-width: 2px;
  background-color: transparent;
}

select.form-select {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
}

.lc-form-card {
  background: rgba(255, 255, 255, 0.7);
}

/* Modal */
.modal-content {
  border-radius: 0;
}

a.ln-social-link {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

a.ln-social-link img {
  color: #fff;
}

/* Banner */
.banner-signup {
  background: var(--lc-gradient-pink);
}

.banner-signup .cta-sample {
  background: var(--lc-gradient-silver);
  padding: 3px 9px;
  font-weight: 800;
}

/* Banner w/ texts */
.banner-genefique-1 .position-absolute {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.banner-genefique-1 * {
  color: #fff;
  text-shadow: 0px 0px 12px rgba(42, 42, 42, 0.6);
  text-transform: uppercase;
}

.banner-genefique-1 #title-advanced {
  font-size: 2.5rem;
  line-height: 0.4rem;
  letter-spacing: 2px;
}

.banner-genefique-1 #title-genefique {
  font-size: 4.5rem;
}

.banner-genefique-1 #body-restore div {
  font-size: 2.4rem;
  line-height: 2.4rem;
}

.banner-genefique-1 #body-radiant {
  padding-top: 15px;
  letter-spacing: 2px;
}

.banner-genefique-2 .position-absolute {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 40px;
}

.banner-genefique-2 * {
  color: #fff;
  text-transform: uppercase;
}

.banner-genefique-2 #title-instantly {
  font-size: 2rem;
}

.banner-genefique-2 #genefique-instant-title {
  width: fit-content;
  margin-bottom: 12px;
}

.banner-genefique-2 #genefique-instant-title hr {
  border-color: #fff;
  border-width: 1.5px;
  opacity: 1;
  margin: 0;
}

.banner-genefique-2 #title-after {
  font-size: 1.7rem;
}

.banner-genefique-2 .body-percent {
  font-size: 4.5rem;
  line-height: 5rem;
}

.banner-genefique-2 .body-percent-desc {
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.banner-genefique-2 #body-clinical {
  font-size: 0.9rem;
  font-weight: 100;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
  margin-left: 40px;
}

.banner-genefique-2 #genefique-percent-title {
  margin-bottom: 30px;
}

.banner-idole-1 .position-absolute {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -30%);
}

.banner-idole-1 * {
  color: #001722;
  text-shadow: 0px 0px 12px rgb(255 255 255 / 50%);
  text-transform: uppercase;
}

.banner-idole-1 #title-idole {
  font-size: 9rem;
  letter-spacing: -6px;
  line-height: 10rem;
}

.banner-idole-1 #body-fresh div {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.banner-idole-3 {
  background: #fff;
  padding: 30px;
}

.banner-idole-3 #body-fresh div {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.banner-idole-3 #title-sophisticated {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 800;
  padding-bottom: 20px;
}

.banner-idole-3 .flower-item .image-flower {
  padding-bottom: 10px;
}

.banner-idole-3 .flower-item .title-flower {
  font-size: 1rem;
  font-weight: 800;
}

.banner-idole-3 .flower-item .body-flower {
  font-size: 1rem;
  line-height: 20px;
}

.banner-idole-2 .position-absolute#idole-perfume-title {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-idole-2 .position-absolute#idole-perfume-ml {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
}

.banner-idole-2 #idole-perfume-ml .body-ml {
  margin-right: 23px;
}

.banner-idole-2 #idole-perfume-ml .body-ml div {
  color: #fff;
  font-size: 2rem;
  font-weight: 100;
  padding: 0 36px;
}

.banner-idole-2 #title-era {
  font-size: 1.4rem;
  font-weight: 800;
}

/* Header */
.header-logo {
  width: 236px;
}

.policy-sidebar {
  grid-area: sidebar;
  background-color: white;
}

.policy-content {
  grid-area: main;
}

.policy-content .description {
  background-color: white;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 360px) {
  .lc-form-card {
    padding: 40px 23px;
  }
}

@media (max-width: 359px) {
  .lc-form-card {
    padding: 35px 20px;
  }

  .nav li {
    padding: 1px !important;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .banner-genefique-1 .position-absolute {
    transform: translate(-50%, 0%);
    padding-bottom: 20px;
  }

  .banner-genefique-1 #title-advanced {
    font-size: 1.8rem;
    /* line-height: 0.4rem;
    letter-spacing: 2px; */
  }

  .banner-genefique-1 #title-genefique {
    font-size: 2.5rem;
  }

  .banner-genefique-1 #body-restore div {
    font-size: 1.4rem;
    line-height: 24px;
  }

  .banner-genefique-1 #body-radiant {
    padding-top: 10px;
    letter-spacing: 0px;
  }

  .banner-genefique-2 .position-absolute {
    padding: 0 8px;
  }

  .banner-genefique-2 #title-instantly {
    font-size: 1rem;
  }

  .banner-genefique-2 #title-after {
    font-size: 0.8rem;
  }

  .banner-genefique-2 .body-percent {
    font-size: 1.5rem;
    line-height: 1.3rem;
  }

  .banner-genefique-2 .body-percent-desc {
    font-size: 0.6rem;
    letter-spacing: 0px;
  }

  .banner-genefique-2 #body-clinical {
    font-size: 0.6rem;
    margin-left: 0;
  }

  .banner-genefique-2 #genefique-percent-title {
    margin-bottom: 10px;
  }

  .banner-idole-1 #title-idole {
    font-size: 4rem;
    letter-spacing: -6px;
    line-height: 4rem;
  }

  .banner-idole-1 #body-fresh div {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .banner-idole-2 #idole-perfume-ml .body-ml div {
    font-size: 1rem;
    padding: 0 8px;
  }

  .banner-idole-2 #idole-perfume-ml .body-ml {
    margin-right: 8px;
  }

  .banner-idole-3 #title-sophisticated {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .banner-idole-3 .flower-item {
    margin-bottom: 25px;
  }

  .banner-idole-2 .position-absolute#idole-perfume-title {
    top: 23%;
  }

  .banner-idole-2 #title-era {
    font-size: 0.7rem;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .lc-form-card {
    padding: 50px 60px;
  }
}

@media (max-width: 767px) {
  .nav button.lc-tab-white {
    font-size: 12px;
  }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .lc-form-card {
    background: rgba(255, 255, 255, 0.7);
    padding: 60px 180px;
    /* opacity: 0.7; */
  }

  .policy-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 3rem;
  }


  .policy-sidebar {
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 16rem);
    padding-left: 0.25rem;
    margin-left: -0.25rem;
    overflow-y: auto;
  }

}

@media (max-width: 1024px) and (min-width: 426px) {
  .banner-genefique-2 #title-instantly {
    font-size: 1.8rem;
  }

  .banner-genefique-2 #title-after {
    font-size: 1.5rem;
  }

  .banner-genefique-2 .body-percent {
    font-size: 2.5rem;
    line-height: 2rem;
  }

  .banner-genefique-2 .body-percent-desc {
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .banner-genefique-2 #body-clinical {
    font-size: 0.9rem;
    font-weight: 100;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 50%);
    margin-left: 40px;
  }

  .banner-idole-2 #idole-perfume-ml .body-ml div {
    font-size: 1.5rem;
    padding: 0 18px;
  }

  .banner-idole-2 .position-absolute#idole-perfume-title {
    top: 17%;
  }

  .banner-idole-2 #title-era {
    font-size: 1rem;
  }
}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}