/*    San Ka Na style sheet    

Author: MobileMINDS Inc

*/

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* FONT FACES */
/* @font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue Light.ttf') format("truetype");
  font-weight: light;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeue Medium.ttf') format("truetype");
  font-weight: medium;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Miller Display";
  src: url('../fonts/MillerDisplay-Light.ttf') format("truetype");
  font-weight: light;
  font-style: normal;
} */

:root {
  --primary: #06D6A0;
  --secondary: #063E34;
  --black: #101010;
  --greyBG: #F7F6F7;
  --pink: #ce0058;
  --lc-gradient-pink: linear-gradient(96deg, #EBCDD4 44.75%, #FEEAE9 70.09%);
  --lc-gradient-silver: linear-gradient(90deg, #DAD2D0 0.04%, #BAB6B6 30.41%, #EBE9E9 64.51%, #CCC9CA 102.34%);
  --color-text: #0B0B0B;
  --button-font-color: #000000;
  --border-color-form: #999999;
  --content-width: 1080px;
  --card-radius: 20px;
  --card-color: #FAF3F5;
  --text-body: 'Jost', sans-serif;
  --text-heading: 'Jost', serif;

  --content-width: 1080px;
}


html {
  height: 100%;
}


* {
  /* margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; */
  font-family: var(--text-body);
  color: var(--color-text);
}

.wrapper {
  width: var(--content-width);
}

h1,
h1 *,
h2,
h2 *,
h3,
h3 *,
h4,
h4 *,
h5,
h5 *,
h6,
h6 * {
  font-family: var(--text-heading);
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  font-weight: 100;
}

a {
  color: var(--color-text);
}

nav.navbar {
  margin: 0px 10px;
  border-radius: 10px;
  background: #FFFFFFF0;
  box-shadow: 0px 4px 8px 0px #86868629;
  backdrop-filter: blur(14px);

  position: fixed;
  top: 0;
}

li.nav-item {
  margin-left: 10px;
}

nav a.nav-link {
  font-family: Jost;
  font-size: 16px;
  font-weight: 700;
  line-height: 23.12px;
  text-align: left;
  color: var(--secondary);
}

.lc-font-sanserif,
.lc-font-sanserif * {
  font-family: var(--text-body);
}

.lc-font-serif,
.lc-font-serif * {
  font-family: var(--text-heading);
}

body {
  font-family: "Jost", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  /* background: var(--lc-gradient-pink); */
}

.sign-up {
  padding-right: 9rem !important;
  padding-left: 9rem !important;
}

.font-serif {
  font-family: "Miller Display";
}

header.navbar {
  background-color: var(--black);
  padding: 2rem 1rem;
}

footer {
  background-color: white;
  padding: 1rem 1rem;
}

footer p {
  margin-bottom: 0;
  display: inline-flex;
  font-weight: 500;
}

/* Button & Tabs */
button.btn-primary {
  padding: 5px 17px;
  border-radius: 100px;
  border-style: none;
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  font-size: 16px;
}

/* button.btn {
  border-radius: 6px;
  padding: 20px 36px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: all 0.5s;
}

button.btn.lc-btn-white,
.nav button.lc-tab-white {
  font-weight: 800;
  border: 1px solid #181818;
  background: #FDFAFA;
  color: var(--color-text);
}

button.btn.lc-btn-white:hover,
.nav button.lc-tab-white:hover,
.nav button.lc-tab-white.active {
  background-color: #000;
  color: #fff;
}

.nav button.lc-tab-white {
  height: 100%;
}

button.btn.lc-btn-black {
  font-weight: 200;
  border: none;
  background: #000;
  color: #fff;
}

button.btn.lc-btn-black:hover,
a.ln-social-link:hover {
  background: var(--pink);
}

a:hover {
  color: var(--pink);
} */

/* Checkbox */
input[type=checkbox].form-check-input {
  border-color: #D0D0D0;
  border-radius: 3px;
  width: 22px;
  height: 22px;
  margin-bottom: 6px;
}

input[type=checkbox].form-check-input:checked {
  background-color: #000;
}

input[type=checkbox].form-check-input:focus {
  box-shadow: none;
}

/* Form Control */

/* Modal */
.modal-content {
  border-radius: 0;
}

a.ln-social-link {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

a.ln-social-link img {
  color: #fff;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 360px) {}

@media (max-width: 359px) {}

@media (max-width: 425px) {}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

@media (max-width: 767px) {}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

@media (max-width: 1024px) and (min-width: 426px) {}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}